[submodule "@modules/raw.github.com/Gozala/events/v0.5.0"]
	path = @modules/raw.github.com/Gozala/events/v0.5.0
	url = https://Gozala@github.com/Gozala/events.git
[submodule "@modules/raw.github.com/Gozala/extendables/v0.2.0"]
	path = @modules/raw.github.com/Gozala/extendables/v0.2.0
	url = https://Gozala@github.com/Gozala/extendables.git
